style.
    footer {
        width: 100%;
        background-color: #0B0D17;
        color: #fff;
        justify-content: center;
        font-size: 0.9em;
        display: flex;
        padding: 20px 0;
    }

    footer ul li {
        padding: 9px 50px;
    }

    footer h1  {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        font-size: 1em;
        margin-bottom: 10px;
    }

    a {
        color: #fff;
    }

footer
    ul
        li
            h1 BDE EPITECH TOULOUSE
        li Copyright © 2023
            br
            | All rights reserved
    ul
        li
            h1 CALIEN'TEK
        li
            a(href="#home") A propos
        li
            a(href="#events") Evénements
        li
            a(href="#shop") Boutique
        li
            a(href="#clubs") Clubs
        li
            a(href="#partners") Partenaires
        li
            a(href="#contact") Contact

    ul
        li
            h1 SUPPORT
        li
            a(href="#") Terms of use
        li
            a(href="#") Privacy policy
        li
            a(href="#") Cookies policy
