doctype html
html
    head
        title CALIEN'TEK - BDE Epitech Toulouse
        link(rel="icon", href="/public//favicon.ico")
        meta(charset="utf-8")
    style.
        body {
            color: white;
        }
    body
        include includes/navbar
        include home/header
        //- include includes/footer

//- Code written by RaphaelMrci
