doctype html
html
    head
        title CALIEN'TEK - BDE Epitech Toulouse
        link(rel="icon", href="/public/favicon.ico")
        meta(charset="utf-8")
    style.
        html {
            scroll-behavior: smooth;
        }
        body {
            color: white;
        }
        h1, h2 {
            width: fit-content;
            height: fit-content;
        }
    body
        include includes/navbar
        include home/header
        include includes/footer

<!-- This website was written by RaphaelMrci -->
